@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  